<% if current_user -%>
  <div id="admin_menu">
    <%= render :partial => 'search/form' %>
    <%= link_to 'Clients', admin_clients_path %>
    <%= link_to 'Projects', admin_projects_path %>
    <%= link_to 'Users', admin_users_path %>
    <br style="clear: both;" />
  </div>
  <div id="login_status">
    Logged in as <%= link_to h(current_user.login), edit_admin_user_path(current_user) %> |
    <%= link_to 'logout', logout_path %>
  </div>
<% end -%>
