<a name="<%=h user.login %>"></a>
<% div_for user do -%>
  <%= image_tag user.photo.file.url(:small), :alt => '' rescue nil %>
  <div>
    <div class="name">
      <%= link_to h(user.name), user.url, :target => '_blank' %>
    </div>
    <small>
      <strong><%=h user.title %></strong><br />
      <i><%=h user.location %></i><br />
      <%= simple_format user.blurb %>
    </small>
  </div>
  <br style="clear: left;" />
<% end -%>
