<% div_for user do -%>
  <a name="<%=h user.login %>"></a>
  <%= image_tag h(user.gravatar_url), :alt => '' %>
  <div>
    <strong><%= link_to h(user.name), user.url, :target => '_blank' %></strong><br />
    <small>
      <strong><%=h user.title %></strong>
      <%= simple_format user.blurb %>
    </small>
  </div>
  <br style="clear: left;" />
<% end -%>
