<% div_for project do -%>
  <h2><%=h project.name %><a name="<%=h project.name %>"></a></h2>
  <small>
    <% unless project.public_url.blank? -%>
      <%= link_to project.public_url, project.public_url, :target => '_blank' %>
    <% end -%>
    <br />
  </small>

  <div class="images">
    <% for photo in project.photos -%>
      <%= image_tag photo.file.url(:small) %><br />
    <% end -%>
    &nbsp;
  </div>

  <%= simple_format project.notes %>

  <br style="clear: left;" />
<% end -%>
