<% div_for project do -%>
  <p>
    <strong><%=h project.name %></strong>
    <a name="<%=h project.name %>"></a><br />
    <small>
      <% unless project.client_name.blank? -%>
        <i>for</i> <%=h project.client_name %><br />
      <% end -%>
      <% if project.public_url -%>
        <br />
        <%= link_to project.public_url, project.public_url, :target => '_blank' %>
      <% end -%>
    </small>
  </p>

  <div class="images">
    <% for photo in project.photos -%>
      <%= image_tag photo.file.url(:small) %><br />
    <% end -%>
    &nbsp;
  </div>

  <%= simple_format project.notes %>
  <br style="clear: left;" />
<% end -%>
