<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :location %><br />
  <%= f.text_field :location %>
</p>

<p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :url, 'URL' %><br />
  <%= f.text_field :url %>
</p>

<%= render :partial => 'feeds' %>

<p>
  <%= f.label :blurb %><br />
  <%= f.text_area :blurb %>
</p>

<p>
  <%= f.label :login %><br />
  <%= f.text_field :login %>
</p>

<p>
  <%= f.label :email %><br />
  <%= f.text_field :email, :onfocus => 'if(this.value == \'\'){this.value = $(user_login).value + \'@tapiocacollective.com\'}' %>
</p>
