<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :url, 'URL' %><br />
  <%= f.text_field :url %>
</p>

<p>
  <%= f.label :blurb %><br />
  <%= f.text_area :blurb %>
</p>

<p>
  <%= f.label :login %><br />
  <%= f.text_field :login %>
</p>

<p>
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</p>
