<h1>Recent Articles by Tapioca Collective Members</h1>

<p>
  <small>
    <a href="/blog.rss">Subscribe to our RSS feed</a> to keep up to date.
  </small>
</p>

<div id="posts">
  <% for post in @posts %>
    <h2><%= link_to h(post.title), h(post.url), :target => '_blank' %></h2>
    <small>
      Posted <%= post.date_published.to_date.to_s(:long) rescue '?' %>
      by <%= link_to post.author.login.titleize, "/about##{post.author.login}" %>
      <%= link_to '[permalink]', h(post.url), :target => '_blank' %>
    </small>
    <p>
      <%= post.description %>
    </p>
  <% end %>
</div>
